.main-content{
    .title{
        text-align: left;
        color:aqua;
        .iconfont{
            color: aqua;
        }
    }
    .content{
        margin: 16px;
        .title{
            text-align: center;
        }
        .warp{
            margin-top: 45px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .list{
                font-weight: 500;
                background: #fff;
                border-radius: 10px;
                padding: 15px;
                cursor: pointer;
                width: 150px;
                height: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .iconfont{
                    font-size: 30px;
                    color: aqua;
                }
                .description{
                    font-size: 12px;
                }
            }
            .list:hover{
                border-color: #e5e7eb;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
                // box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 2px #00ffff;
            }
        }
    }
}